@import "./nav.css";
@import "./boxes.css";
@import './hero.css';
@import './detail-templete.css';
@import './footer.css';
@import './single-templete.css';
@import './timeline.css';
@import './form.css';
/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style-type: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

img {
  width: 100px;
}

.containers {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(249, 253, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-purple {
  background-color: rgb(152, 10, 235);
  padding: 20px 40px;
  border-radius: 30px;
  color: rgb(236, 232, 232);
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-purple:hover {
  background-color: rgb(183, 96, 233)
}

/* row style */

.rows {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

 h2 {
  margin: 20px auto;
  font-size: 3rem;
}
a{
  text-decoration: none;
}
.wrapper h1 {
  color: rgb(117, 9, 240);
  border-bottom: 3px solid rgb(111, 0, 255);
  padding-bottom: 5px;
  font-size: 3rem;
  margin: 20px 0;
  font-weight: bolder;
  display: inline-block;
}

.wrapper p {
  font-size: 1.5rem;
  color: rgb(98, 0, 255);
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}

.images {
  min-width: 90%;
  display: flex;
  justify-content: space-evenly;
  color: rgb(152, 10, 235);
  flex-wrap: wrap;
}

.images img {
  margin: 30px 0;
}

.images p {
  color: rgb(152, 10, 235);
  font-weight: light;
  font-size: 1.2rem;
  line-height: 1.5;
}

.images figure {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.flex div img {
  margin: 50px 0;
}

lottie-player {
  width: 500px;
  height: 350px;
}

/* responsive */

@media screen and (max-width: 400px) {

  .rows h1 {
    font-size: 2rem;
  }

   h2 {
    font-size: 17px;
  }

  p {
    font-size: 1rem;
  }
  .sliderow h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  lottie-player {
    width: 300px;
  }
}


/* slider style */
.responsive {
  margin: 30px auto;
  width: 60%;
}

/* The width of each slide */
.slick-slide {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.course-slide .responsive .slick-prev {
  left: 40%;
}

.course-slide .responsive .slick-next {
  right: 40%;
}

.course-slide .responsive button {
  top: 110%;
}


/* Color of the arrows */
.slick-next::before,
.slick-prev::before {
  color: blue;
}

.slick-slide h2 {
  color: rgb(152, 10, 235);
  margin: 10px
}

.slick-slide p {
  font-size: 1rem;
  color: rgb(152, 10, 235);

}

.sliderow img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;

}
.sliderow h3{
  color: rgb(152, 10, 235);
  text-align: center;
}
/* bootstrap card style  */

.card img {
  margin: 0;
  height: 200px;
}

.card {
  margin: 0 5px;
  padding: 0;
  box-shadow: 0px 0px 5px 0px rgb(207, 203, 203);
  width: 300px;
}

.card h5 {
  font-size: 1.1rem;
}

.lables {
  position: absolute;
  top: 20px;
  left: 10px;
}

.price {
  position: absolute;
  background-color: rgb(224, 42, 224);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 180px;
}

.lables span {
  padding: 5px 8px;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

.lables span:first-child {
  background-color: orange;
}

.card i {
  color: black;
  font-size: 15px;
}

.card-body {
  width: 100%;
}

.detail-course {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.detail-course i {
  color: blue;
}

.card-body img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.Introduction div {
  display: flex;
  margin: 10px 0;
}

.Introduction p {
  color: black;
  font-weight: 400;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-footer .fa-star {
  color: rgb(255, 208, 0);
}

.card-footer a {
  color: rgb(168, 60, 231);
}

.card-footer .fa-long-arrow-right {
  color: rgb(168, 60, 231);
}

.rows mark {
  color: blue;
  background-color: transparent;
}
/* responsive card */
@media screen and (max-width:900px) {
  .card {
    width: 200px;
  }

  .card h5 {
    font-size: .8rem;
  }

  .card p,
  .card span,
  .card a {
    font-size: .7rem;
  }

  .card i {
    font-size: 10px;
  }

  .price {
    width: 30px;
    height: 30px;
  }
  .course-slide .responsive .slick-prev {
    left: 30%;
  }
  
  .course-slide .responsive .slick-next {
    right: 30%;
  }
  
}




/* profile */
.grid {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.culmn:not(.culmn:nth-child(3)) {
  border-right: 1px solid rgb(188, 188, 221);
}

.profile {
  display: flex;
  width: auto;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

img {
  display: block;
  margin: 20px 0;
}

.profile p {
  font-size: 1rem;
  color: rgb(133, 131, 128);
  line-height: 1.5;
}

.grid .form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-width: 50%;
}

.grid .form form {
  width: 100%;
}

.grid .form form fieldset:nth-child(2) {
  flex-direction: column;
}

fieldset {
  margin: 30px 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

fieldset>div {
  min-width: 50%;
}

fieldset div input {
  min-width: 90%;
}

label {
  display: block;
  margin: 5px 0;
  font-size: 13px;
}

.grid input {
  border: 2px solid rgb(201, 196, 196);
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  margin: 5px 3px;
}

input:hover,
input:focus {
  border-color: rgb(138, 138, 216);
}

.Experience {
  padding: 30px;
}

.Experience input {
  width: 100%;
}

.savebtn {
  background-color: rgb(152, 10, 235);
  color: #ffff;
  border-radius: 5px;
  padding: 10px 15px;
}

.savebtn:hover {
  background-color: rgb(183, 96, 233);
}

.experiencbtn {
  border: 1px solid rgb(156, 153, 153);
  padding: 6px 20px;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 40px;
}

.experiencbtn:hover {
  background-color: rgba(234, 249, 250, 0.781);
}

.Experience form {
  margin: 20px 0;
}

.Experience div {
  display: flex;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* responsive */

@media only screen and (max-width:700px) {
  .culmn:first-child {
    width: 100%;
  }

  .culmn:not(.culmn:nth-child(3)) {
    border-right: none;
  }


  .culmn:nth-child(2) {
    order: 3;
  }

  .culmn:last-child {
    order: 2;
  }

  .Experience {
    width: 90%;
  }
}

@media only screen and (max-width:900px) {

  fieldset>div,
  fieldset>div input {
    width: 100%;
  }

}

@media only screen and (min-width:700px) and (max-width:1200px) {

  .culmn {
    width: 25%;
  }

  .culmn:nth-child(2) {
    width: 40%;
  }

  .culmn:first-child p {
    font-size: 13px;
  }

  .Experience div {
    flex-direction: column;
    align-items: flex-start;
  }

  .experiencbtn {
    margin: 20px 0;
  }
}
